/****************** Font ******************/
@font-face{ 
	font-family: nasim;
	src:url(../fonts/Nasim.svg) format("svg"), url(../fonts/Nasim.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

body, input, button, select, textarea, .ui-btn {
	font-family: nasim !important;
}

.nasim {
	font-family: nasim;
}
/***************** /Font ******************/

.ui-content[data-role="content"] {
	padding: 0 !important;
}

li a.icon-large::after {
	margin: -0.8em -0.3em;
}
.icon-large::after {
	background-size: 1.3em 1.3em;
	width: 1.7em;
	height: 1.7em;
	margin: -0.8em -0.8em ;
	padding: 0;
}
.icon-2x::after {
	background-size: 2em 2em;
}

#first-page{
	overflow: hidden;
}

.map {
	width: 100vw !important;
	height: 100vh !important; 
	min-height: 10em;
	background-color: #cde;
	margin: auto;
}

.clearfix{
	clear: both !important;
}

.flipped {
	transform: scaleX(-1);
}

.rtl {
	direction: rtl ;
}

.ltr {
	direction: ltr;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.header {
	font-size: 2.2em;
}

.block {
	display: block;
}

footer {
	overflow: hidden;
}

.footer {
	font-size: 1.3em;
}

.centered{
	margin: 0 auto;
	display: table;
}

body .page {
	margin: 0 !important;
	padding: 0 !important;
}

a.sign {
	text-decoration: none;
}

/* Left transition */
.swipeleft {
	-webkit-transition: -webkit-transform 500ms ease;
	-webkit-transform: translateX(-100%);
	-moz-transition: -moz-transform 500ms ease;
	-moz-transform: translateX(-100%);
	-o-transition: -o-transform 500ms ease;
	-o-transform: translateX(-100%);
	transition: transform 500ms ease;
	transform: translateX(-100%);
}
/* Right transition */
.swiperight, .deleting {
	-webkit-transition: -webkit-transform 500ms ease;
	-webkit-transform: translateX(100%);
	-moz-transition: -moz-transform 500ms ease;
	-moz-transform: translateX(100%);
	-o-transition: -o-transform 500ms ease;
	-o-transform: translateX(100%);
	transition: transform 500ms ease;
	transform: translateX(100%);
}

#first-page-sidebar li:last-child {
	padding-bottom: 3.2em !important;
}

#history-panel-close-overlay-btn.close {
	border-radius: 1em 0 0 0;
}

#history-panel-close-overlay-btn.ui-btn-icon-notext {
	width: 5.8em;
	height: 2.7em;
}

#history-panel-close-overlay-btn.ui-btn{
	position: fixed;
	bottom: -0.5em;
	right: 0em;
	z-index: 4;
	opacity: 0.7;
}

.ui-panel-page-content-open .history-panel {
	display: none;
}
/* *************************** international tel input *************************** */
.intl-tel-input {
	width: 100%;
	/*direction: auto;*/
	text-align: left;
}

.intl-tel-input input.iti-invalid-key {
	background-color: #FFC7C7;
}
/* *************************** /international tel input *************************** */

/* *************************** JQM input direction fix  *************************** */
	.ui-input-text input{
		text-align: initial;
	}
/* *************************** /JQM direction fix  *************************** */
/* *************************** RTL Fix *************************** */
	.coordinate a {
		border-bottom: 1px solid #a4e2c1 !important;
	}
	.icon-left a {
		padding-left: 2.5em !important;
		padding-right: 1em !important;
	}
	.icon-left a:after {
		right: auto;
		left: 9px;
		transform: scaleX(-1);
	}

	.icon-left a .ui-li-count {
		left: 3.2em !important;
		right: auto !important;
	}

	.ui-field-contain.rtl > label,
	.ui-field-contain.rtl .ui-controlgroup-label,
	.ui-field-contain.rtl > .ui-rangeslider > label {
		float: right;
	}

	.ui-field-contain.rtl > label + [class*="ui-"],
	.ui-field-contain.rtl .ui-controlgroup-controls
	{
		float:right;
		text-align: right;
	}

	.ui-field-contain .ui-input-text input,
	.ui-field-contain .ui-input-search input {
		text-align: auto;
	}
/* *************************** /RTL Fix *************************** */
/* *********************************** sidebar full page width on big screen *********************************** */
@media ( max-width: 45em ) {

	/* wrap on narrow viewports once open */
	.ui-panel-position-right, .ui-panel-position-left {
		min-width: 98vw;
	}

	.ui-panel-page-content-open {
		display: none;
	}

	.ui-panel-dismiss-open {
		display: none;
	}
}
#widget-tempalte-container {
	display: none;
}
