/****************** Font ******************/
@font-face{ 
	font-family: nasim;
	src:url(../fonts/Nasim.svg) format("svg"), url(../fonts/Nasim.woff) format("woff");
	font-weight: normal;
	font-style: normal;
}

body, input, button, select, textarea, .ui-btn {
	font-family: nasim !important;
}

.nasim {
	font-family: nasim;
}
/***************** /Font ******************/

.ui-content[data-role="content"] {
	padding: 0 !important;
}

li a.icon-large::after {
	margin: -0.8em -0.3em;
}
.icon-large::after {
	background-size: 1.3em 1.3em;
	width: 1.7em;
	height: 1.7em;
	margin: -0.8em -0.8em ;
	padding: 0;
}
.icon-2x::after {
	background-size: 2em 2em;
}

#first-page{
	overflow: hidden;
}

.map {
	width: 100vw !important;
	height: 100vh !important; 
	min-height: 10em;
	background-color: #cde;
	margin: auto;
}

.clearfix{
	clear: both !important;
}

.flipped {
	transform: scaleX(-1);
}

.rtl {
	direction: rtl ;
}

.ltr {
	direction: ltr;
}

.pull-right{
	float: right;
}
.pull-left{
	float: left;
}
.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justify {
	text-align: justify;
}

.header {
	font-size: 2.2em;
}

.block {
	display: block;
}

footer {
	overflow: hidden;
}

.footer {
	font-size: 1.3em;
}

.centered{
	margin: 0 auto;
	display: table;
}

body .page {
	margin: 0 !important;
	padding: 0 !important;
}

a.sign {
	text-decoration: none;
}

#first-page-sidebar li:last-child {
	padding-bottom: 3.2em !important;
}

#history-panel-close-overlay-btn.close {
	border-radius: 1em 0 0 0;
}

#history-panel-close-overlay-btn.ui-btn-icon-notext {
	width: 5.8em;
	height: 2.7em;
}

#history-panel-close-overlay-btn.ui-btn{
	position: fixed;
	bottom: -0.5em;
	right: 0em;
	z-index: 4;
	opacity: 0.7;
}

.ui-panel-page-content-open .history-panel {
	display: none;
}
/* *************************** international tel input *************************** */
.intl-tel-input {
	width: 100%;
	display: block;
}

.intl-tel-input input {
	text-indent: 1em;
}

.intl-tel-input input.iti-invalid-key {
	background-color: #FFC7C7;
}

/* *********************************** Place form rules *********************************** */
#place-form-phone-group .ui-controlgroup-controls {
	width: 100%;
}

#place-form .form {
	margin-left: 1em;
}
/* ****************************** sidebar full page width on big screen ****************************** */
	@media ( max-width: 45em ) {

		/* wrap on narrow viewports once open */
		.ui-panel-position-right, .ui-panel-position-left {
			min-width: 98vw;
		}

		.ui-panel-page-content-open {
			display: none;
		}

		.ui-panel-dismiss-open {
			display: none;
		}
	}
	#widget-tempalte-container {
		display: none;
	}

